.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 0.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
  padding-left: 1rem;
}

.no-movies {
  color: #aca8a8;
  padding-left: 1rem;
}