@import "../../../../../styles/global.scss";

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: $home-color;
    border-radius: 0.2rem;
}